.header1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo1 img{
    width: 100px;
    border-radius: 50%;
}

.icon1{
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    margin-right: 2rem;
}