.header{
    width: 100%;
    height: max-content;
    line-height: 80px;
}

.logo{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 100px;
    border-radius: 50%;
}

.Button_box{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}