.big_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ind_pass{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.ind_pas_upper{
    display: flex;
    flex-direction: column;
}

.ind_pas_lower{
    display: flex;
}

.contact_container{
    display: flex;
    flex-direction: column;
}

.bus_container{
    padding:50px;
}

.bus{
    border: 2px solid black;
    padding:10px;
    width:130px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left button, .right button{
    width:25px;
    height:25px;
    border-radius: 8px;
    margin:2px;
}

.left{
    padding-right:12px;
}