.footer{
    background-color: #333;
    color: #fff;
    position:relative;
    bottom: -270px;
    width: 100%;
}


.footer .logo p{
    color: #fff;
}
.footer-heading{
    display:  flex;
    align-items: center;
    color: #fff;
}
.footer-links-container{
    display:  flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social__links span a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.foot{
    display: flex;
    justify-content: space-around;
}